.imageContainer img{
    width: 120px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    /* transform: translate(70px, 45px); */
    position: relative;
    top: 45px;
    left: 68px;
    border: 2px solid #10A19D;

}